parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - cache
    scanDirectories:
        - vendor/gabordemooij/redbean
    universalObjectCratesClasses:
        - RedBeanPHP\OODBBean
        - PLEPHP\Model\Equipment
        - PLEPHP\Model\Checklist
